<div class="userInfo" [ngClass]="isUserInfoActive ? 'userInfo--active' : ''">
    <div class="userInfo__container"> 
        <h2 class="userInfo__title">User Information</h2>
        <div class="userInfo__content">
            <ul class="userInfo__list">
                <li class="userInfo__item" *ngFor="let item of Object.keys(userInfoData);">
                    <div class="userInfo__text" *ngIf="item !== 'avatarId'">
                        User {{item}}: 
                        <p class="userInfo__text--active"> {{userInfoData[item]}} </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="userInfo__borderLine"></div>
        <button class="userInfo__button" (click)="closeUserInfoButton()">Close</button>
    </div>
</div>