<div class="systemInfo">
    <div class="systemInfo__container"> 
        <h2 class="systemInfo__title">ET MANAGED</h2>
        <h3 class="systemInfo__author">Author: <p class="systemInfo__author--bold">Krystian Konecki</p></h3>
        <p class="systemInfo__version">App version: 1.0.0</p>
        <p class="systemInfo__rights">@2021 All rights reserved</p>
        <div class="systemInfo__borderLine"></div>
        <button class="systemInfo__button" (click)="closeSystemInfoButton()">Close</button>
    </div>
</div>