<div class="navigation-container__notification-container notification-container">
    <div class="notification-container__nav">
        <h4 class="notification-container__content">{{notificationList.length}} notifications</h4>
        <div class="notification-container__buttons">
            <button #hidePopupsButton (click)="onHidePopupsButtonClick()" class="notification-container__button notification-container__button--hide">Hide popups</button>
            <button class="notification-container__button notification-container__button--clear" (click)="onClearButtonClick()">Clear</button>
        </div>
    </div>
    <div class="notification-container__menu notification-menu">
        <h3 *ngIf="notificationList.length === 0;" class="notification-menu__title--empty">No notifications to display</h3>
        <ul class="notification-menu__list">
            <li  class="notification-menu__list__item" *ngFor="let item of notificationList" [id]= "item.id" [ngClass]="item.isExpanded ? 'notification-menu__list__item--expanded' : ''">
                <app-notification-item [item]="item"></app-notification-item>
            </li>
        </ul>
    </div>
</div>