@import "./variables.sass"

.main
    min-width: 1280px
    min-width: 800px
    height: 100vh
    overflow: hidden
    background-color: $base-color
    display: flex
    flex-direction: column
    .site-info
        background-color: $site-info-color
        flex-basis: 50px
    .content
        flex-grow: 1
        background-color: $base-color
        display: flex
        flex-direction: row
        .navigation-panel
            background-color: $base-color
            flex-basis: 240px
            border-right: 1px solid $border-color
        .main-content
            flex-grow: 1
            padding-left: 10px
            background-color: $base-color