<div class="dashboard_container">
    <div class="dashboard_overview">
        <h3 class="dashboard_overview__title">Dashboard</h3>
        <div class="dashboard_overview__stats stats">
            <div class="stats_item">
                <p class="stats_item__single stats_item--count">{{ (activeTasks | async)?.length ? (activeTasks | async)?.length : 0}}</p> 
                <p class="stats_item__single  stats_item--title">Active tasks</p>
            </div>
            <div class="stats_item">
                <p class="stats_item__single  stats_item--count">{{ (doneTasks | async)?.length ? (doneTasks | async)?.length : 0}}</p> 
                <p class="stats_item__single  stats_item--title">Done tasks</p>
            </div>
            <div class="stats_item">
                <p class="stats_item__single  stats_item--count stats_item--expenses">{{ (totalExpensesInMonth | async) ? (totalExpensesInMonth | async) : 0}}</p> 
                <p class="stats_item__single  stats_item--title">Total expenses</p>
            </div>
            <div class="stats_item stats_item--planning">
                <p class="stats_item__single  stats_item--count stats_item--expenses">{{ (totalPlannedItems | async)?.length ? (totalPlannedItems | async)?.length : 0}}</p> 
                <p class="stats_item__single  stats_item--title">Planned expenses</p>
            </div>
        </div>
        <button class="dashboard_button" routerLink="/Reports" (click)="onViewReportsClick()">View Reports</button>
    </div>
    <div class="dashboard_reports">
            <app-dashboard-reports [rangeValue]="range" ></app-dashboard-reports>
    </div>
</div>
