@import "../..//variables.sass"

.site-info-panel
    color: $font-color-basic
    display: flex
    height: 100%
    flex-direction: row
    align-items: center
    &__title
        font-size: 30px
        margin-left: 20px
        flex-basis: 200px
    &__quotation
        flex-grow: 1
        font-family: 'Lemonada', cursive
        font-weight: 300
        text-align: center
    &__icon-container, .icon-container
        flex-basis: 180px
        margin-right: 20px
        height: 40px
        .icon-container__list
            display: flex
            flex-direction: row
            list-style-type: none
            height: 100%
            .icon-container__item
                flex-basis: calc(100% / 3)
                margin: 4px
                height: calc(100% - 8px)
                width: calc(100% - 8px)
                .icon-container__item__icon
                    border: none
                    height: 100%
                    width: 100%
                    color: $font-color-basic
                    background-color: transparent
                    cursor: pointer
                    .icon
                        font-size: 26px
                        