<div class="site-info-panel">
    <h1 class="site-info-panel__title">ET Managed</h1>
    <h3 class="site-info-panel__quotation">"The best time to act is now!"</h3>
    <div class="site-info-panel__icon-container icon-container">
        <ul class="icon-container__list">
            <li class="icon-container__item">
                <button class="icon-container__item__icon button">
                    <i class="far fa-comment icon"></i>
                </button>
            </li>
            <li class="icon-container__item">
                <button class="icon-container__item__icon button">
                    <i class="far fa-user icon"></i>
                </button>
            </li>
            <li class="icon-container__item">
                <button class="icon-container__item__icon button">
                    <i class="far fa-question-circle icon"></i>
                </button>
            </li>
        </ul>
    </div>
</div>
