<div class="site-info-panel">
    <h1 class="site-info-panel__title">ET Managed</h1>
    <h3 class="site-info-panel__quotation">"The best time to act is now!"</h3>
    <div class="site-info-panel__icon-container icon-container">
        <ul class="icon-container__list">
            <li class="icon-container__item">
                <button  class="icon-container__item__icon button" (click)="onNotificationButtonClick()">
                    <i #notificationButton id="notificationButton" class="far fa-comment button_icon" [ngClass]="(isNewNotification | async) ? 'button_icon--active' : ''"></i> 

                </button>
            </li>
            <li class="icon-container__item">
                <button class="icon-container__item__icon button"  (click)="onUserInfoButtonClick()">
                    <i #userInfoButton class="far fa-user button_icon"></i>
                </button>
            </li>
            <li class="icon-container__item">
                <button class="icon-container__item__icon button" (click)="onSystemInfoButtonClick()">
                    <i #systemInfoButton class="far fa-question-circle button_icon"></i>
                </button>
            </li>
        </ul>
    </div>
    <div #notificationPanel *ngIf="isNotificationButtonActive">
        <app-notifications-container [notificationList] = "(notificationsList | async)"></app-notifications-container>
    </div>
    <div #userInfoPanel *ngIf="isUserInfoButtonActive">
        <app-user-info-container></app-user-info-container>
    </div>
    <div #systemInfoPanel *ngIf="isSystemInfoButtonActive">
        <app-system-info></app-system-info>
    </div>
</div>
