.budget-header__title
  font-size: 32px
  font-weight: bold
  letter-spacing: 1px
.budget-header__stats
  position: absolute
  top: 35px
  right: 280px
  width: 300px
  height: 60px
  display: flex
  flex-direction: row
  .stats_item
    flex-basis: calc(100% / 2)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .stats_item__single
      flex-basis: 50%
      text-align: center
    .stats_item--input
      flex: 50%
      width: 80%
      font-weight: bold
      font-size: 18px
    .stats_item--input-title
      padding-top: 5px
  .stats_item--count
    font-weight: bold
    font-size: 18px
    padding-top: 5px
  .stats_item--title
    padding-top: 5px
